<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AvaloniaAll" value="https://pkgs.dev.azure.com/AvaloniaUI/AvaloniaUI/_packaging/avalonia-all/nuget/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/saevsky-alexander/index.json" />

        <packageSourceCredentials>
        <github>
            <add key="Username" value="saevsky-alexander" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
  </packageSources>
</configuration>